.page-title {
  height: 100%;
  display: block;
  padding-top: 20px;
  font-size: 20px;
  vertical-align: middle;
}
.form-registro {
  // padding: 0 4%;
  .item {
    padding: 4px;
    ion-icon {
      padding: 0 10px;
    }
    .icon-person{
      padding: 0 !important;
    }
    .icon-person:nth-child(2){
      position: relative;
      left: -10px;
    }
  }
}
ion-item ion-label{
  color: #8BD7E8 !important;
}
