<!-- <app-heder-basico titulo="Perfil Club"> </app-heder-basico> -->

<ion-content class="ion-padding colorFondo" fullscreen >


  <img  class="image-container " src="assets/imagenes/LogoPF.jpeg" >

  <br><br>


  <form #formulario="ngForm">

    <ion-list-header>
      <ion-label>Formulario valido: {{formulario.valid}} </ion-label>
    </ion-list-header>
    
    <ion-item>
      <ion-label>Nombre apellido </ion-label>
      <ion-input type="text" 
                 placeholder="Completar"
                 name="nombre"
                 [(ngModel)]="usuario_registro.nombre_apellido"
                 required>
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Fecha de Nacimiento</ion-label>
      <ion-input type="text" 
                 placeholder="Completar"
                 name="apellido"
                 [(ngModel)]="usuario_registro.fecha_nacimiento"
                 required>
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Seleccionar fecha del torneo:</ion-label>
      <ion-button (click)="presentAlertTimeVreacionDeTorneo()">
      <ion-icon slot="icon-only" name="time-outline"></ion-icon>
      </ion-button>
    </ion-item>

    <ion-item>
      <ion-label>Fecha de nacimiento: {{textFechaInicio}}</ion-label>
    </ion-item>



    <ion-item lines="none">
      <ion-label>Categoria</ion-label>
    </ion-item>
    <ion-item margin-top >
      <ion-select value="Seleccionar" okText="Ok" cancelText="Cancelar" class="ion-text-left"     (ionChange)="selCategoria($event)">
        <ion-select-option>Seleccionar</ion-select-option>
        <ion-select-option *ngFor="let FarrayTipoDeCategoria of arrayTipoDeCategoria" [value]="FarrayTipoDeCategoria.id" >{{FarrayTipoDeCategoria.nombre_2}}</ion-select-option>
      </ion-select>
    </ion-item>



    <!-- <ion-item>
      <ion-label>Categoria</ion-label>
      <ion-input type="text" 
                 placeholder="Completar"
                 name="edad"
                 
                 required>
      </ion-input>
    </ion-item> -->

    <ion-item lines="none">
      <ion-label>Nacionalidad</ion-label>
    </ion-item>
    <ion-item margin-top >
      <ion-select value="Seleccionar" okText="Ok" cancelText="Cancelar" class="ion-text-left"     (ionChange)="selNacionalidad($event)">
        <ion-select-option>Seleccionar</ion-select-option>
        <ion-select-option *ngFor="let FarrayTipoDeCategoria of arrayTipoDeCategoria" [value]="FarrayTipoDeCategoria.id" >{{FarrayTipoDeCategoria.nombre_2}}</ion-select-option>
      </ion-select>
    </ion-item>


    <!-- <ion-item>
      <ion-label>Nacionalidad</ion-label>
      <ion-input type="text" 
                 placeholder="Completar"
                 name="ciudad"
                 [(ngModel)]="usuario_registro.nacionalidad"
                 required>
      </ion-input>
    </ion-item> -->


    <ion-item lines="none">
      <ion-label>Lado</ion-label>
    </ion-item>
    <ion-item margin-top >
      <ion-select value="Seleccionar" okText="Ok" cancelText="Cancelar" class="ion-text-left"     (ionChange)="selLado($event)">
        <ion-select-option>Seleccionar</ion-select-option>
        <ion-select-option *ngFor="let FarrayTipoDeCategoria of arrayTipoDeCategoria" [value]="FarrayTipoDeCategoria.id" >{{FarrayTipoDeCategoria.nombre_2}}</ion-select-option>
      </ion-select>
    </ion-item>



    <!-- <ion-item>
      <ion-label>Lado</ion-label>
      <ion-input type="tel" 
                 placeholder="Completar"
                 name="fono"
                 [(ngModel)]="usuario_registro.lado"
                 required>
      </ion-input>
    </ion-item> -->

    <ion-item lines="none">
      <ion-label>Talla</ion-label>
    </ion-item>
    <ion-item margin-top >
      <ion-select value="Seleccionar" okText="Ok" cancelText="Cancelar" class="ion-text-left"     (ionChange)="selTalla($event)">
        <ion-select-option>Seleccionar</ion-select-option>
        <ion-select-option *ngFor="let FarrayTipoDeCategoria of arrayTipoDeCategoria" [value]="FarrayTipoDeCategoria.id" >{{FarrayTipoDeCategoria.nombre_2}}</ion-select-option>
      </ion-select>
    </ion-item>


    <!-- <ion-item>
      <ion-label>Talla</ion-label>
      <ion-input type="tel" 
                 placeholder="Completar"
                 name="fono"
                 [(ngModel)]="usuario_registro.talla"
                 required>
      </ion-input>
    </ion-item> -->


    <ion-item lines="none">
      <ion-label>Genero</ion-label>
    </ion-item>
    <ion-item margin-top >
      <ion-select value="Seleccionar" okText="Ok" cancelText="Cancelar" class="ion-text-left"     (ionChange)="selGenero($event)">
        <ion-select-option>Seleccionar</ion-select-option>
        <ion-select-option *ngFor="let FarrayTipoDeCategoria of arrayTipoDeCategoria" [value]="FarrayTipoDeCategoria.id" >{{FarrayTipoDeCategoria.nombre_2}}</ion-select-option>
      </ion-select>
    </ion-item>


    <!-- <ion-item>
      <ion-label>Genero</ion-label>
      <ion-input type="tel" 
                 placeholder="Completar"
                 name="fono"
                 [(ngModel)]="usuario_registro.genero"
                 required>
      </ion-input>
    </ion-item> -->

    <ion-item>
      <ion-label>Instagram</ion-label>
      <ion-input type="tel" 
                 placeholder="Completar"
                 name="fono"
                 [(ngModel)]="usuario_registro.instagram"
                 required>
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-label>WhatsApp</ion-label>
      <ion-input type="tel" 
                 placeholder="Completar"
                 name="fono"
                 [(ngModel)]="usuario_registro.whatsApp"
                 required>
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Email:</ion-label>
      <ion-input type="email" 
                 placeholder="Completar Email"
                 name="email"
                 [(ngModel)]="usuario_registro.mail"
                 pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$"
                 required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Password:</ion-label>
      <ion-input type="password" 
                 name="password"
                 placeholder="Completar Password"
                 [(ngModel)]="usuario_registro.contrasena"
                 required></ion-input>
    </ion-item>

    
    
    <br>
    <ion-button type="submit"
                [disabled]="formulario.invalid"
                (click)="btn_guardar_usuario()" 
                expand="block"
                shape="round">
      Guardar
    </ion-button>
    
  
  
    </form>









  <ion-item  lines="none">
    <ion-grid fixed>
      <ion-row>

        <ion-col size="6">
          <ion-button color="secondary" [routerLink]="['/login']" size="large">Volver</ion-button>
        </ion-col>

        <ion-col size="6">
          <ion-button color="secondary" size="large" (click)="btn_guardar_usuario()" >Crear</ion-button>
        </ion-col>

      </ion-row>
    </ion-grid>
  </ion-item>


</ion-content>