<!-- <app-heder-basico titulo="Perfil Club"> </app-heder-basico> -->

<ion-content class="ion-padding colorFondo" fullscreen >


  <img  class="image-container " src="assets/imagenes/LogoPF.jpeg" >

  <br><br>


  <form #formulario="ngForm">

    <ion-list-header>
      <ion-label>Formulario valido: {{formulario.valid}} </ion-label>
    </ion-list-header>
    
    <ion-item>
      <ion-label>Nombre apellido </ion-label>
      <ion-input type="text" 
                 placeholder="Completar"
                 name="nombre"
                 [(ngModel)]="usuario_registro.nombre_apellido"
                 required>
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Fecha de Nacimiento</ion-label>
      <ion-input type="text" 
                 placeholder="Completar"
                 name="apellido"
                 [(ngModel)]="usuario_registro.fecha_nacimiento"
                 required>
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Categoria</ion-label>
      <ion-input type="text" 
                 placeholder="Completar"
                 name="edad"
                 [(ngModel)]="usuario_registro.categoria"
                 required>
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Nacionalidad</ion-label>
      <ion-input type="text" 
                 placeholder="Completar"
                 name="ciudad"
                 [(ngModel)]="usuario_registro.nacionalidad"
                 required>
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Lado</ion-label>
      <ion-input type="tel" 
                 placeholder="Completar"
                 name="fono"
                 [(ngModel)]="usuario_registro.lado"
                 required>
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Talla</ion-label>
      <ion-input type="tel" 
                 placeholder="Completar"
                 name="fono"
                 [(ngModel)]="usuario_registro.talla"
                 required>
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Genero</ion-label>
      <ion-input type="tel" 
                 placeholder="Completar"
                 name="fono"
                 [(ngModel)]="usuario_registro.genero"
                 required>
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Instagram</ion-label>
      <ion-input type="tel" 
                 placeholder="Completar"
                 name="fono"
                 [(ngModel)]="usuario_registro.instagram"
                 required>
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-label>WhatsApp</ion-label>
      <ion-input type="tel" 
                 placeholder="Completar"
                 name="fono"
                 [(ngModel)]="usuario_registro.whatsApp"
                 required>
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Email:</ion-label>
      <ion-input type="email" 
                 placeholder="Completar Email"
                 name="email"
                 [(ngModel)]="usuario_registro.mail"
                 pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$"
                 required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Password:</ion-label>
      <ion-input type="password" 
                 name="password"
                 placeholder="Completar Password"
                 [(ngModel)]="usuario_registro.contrasena"
                 required></ion-input>
    </ion-item>

    
    
    <br>
    <ion-button type="submit"
                [disabled]="formulario.invalid"
                (click)="btn_guardar_usuario()" 
                expand="block"
                shape="round">
      Login
    </ion-button>
    
  
  
    </form>









  <ion-item  lines="none">
    <ion-grid fixed>
      <ion-row>

        <ion-col size="6">
          <ion-button color="secondary" [routerLink]="['/login']" size="large">Volver</ion-button>
        </ion-col>

        <ion-col size="6">
          <ion-button color="secondary" size="large" >Guardar</ion-button>
        </ion-col>

      </ion-row>
    </ion-grid>
  </ion-item>


</ion-content>
