<ion-content class="ion-padding">
  
  <ion-card>
    <img  class="itran" src="assets/imagenes/LogoPF.jpeg"  >
  </ion-card>


  
<ion-item lines="none" >
  <ion-label >Ingresar usuario</ion-label>
</ion-item>

<form #formulario="ngForm">

  <ion-list-header>
    <ion-label>Formulario valido: {{formulario.valid}} </ion-label>
  </ion-list-header>
  
  <ion-item>
    <ion-label>Email:</ion-label>
    <ion-input type="email" 
               placeholder="Completar Email"
               name="email"
               [(ngModel)]="usuario.email_usuario"
               pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$"
               required></ion-input>
  </ion-item>
  
  <ion-item>
    <ion-label>Password:</ion-label>
    <ion-input type="password" 
               name="password"
               placeholder="Completar Password"
               [(ngModel)]="usuario.contrasena_usuario"
               required></ion-input>
  </ion-item>
  
  <br><br>
  <ion-button type="submit"
              [disabled]="formulario.invalid"
              (click)="btnLogin(usuario.email_usuario)" 
              expand="block"
              shape="round">
    Login
  </ion-button>
  
  <ion-button type="submit"
  (click)="btnLogin(usuario.email_usuario)" 
  expand="block"
  shape="round">
  Iniciar con 
  <ion-icon name="logo-google"></ion-icon> 
</ion-button>
  


  </form>

 

  



  <ion-grid>
    <ion-row >

      <ion-col size="5">
        <ion-button class="top-button ion-margin-top lblArriba" size="small" [routerLink]="['/registro-usuario']" fill="outline" color="tertiary">
          <ion-icon name="create-outline"></ion-icon>
            Registrar
         </ion-button>
      </ion-col>

      <ion-col size="7">
        <ion-button class="top-button ion-margin-top lblArriba" size="small" [routerLink]="['/recuperar-clave']" fill="outline" color="tertiary">
          <ion-icon name="create-outline"></ion-icon>
          ¿Recuperar clave?
         </ion-button>
      </ion-col>

    </ion-row>
  </ion-grid>

</ion-content>
