<ion-content class="ion-padding">
  <ion-card class="container-logo">
    <img class="logo" src="assets/imagenes/logo-padel-fixture.png" />
  </ion-card>

  <ion-item lines="none" class="ctn-title">
    <ion-label class="title">Ingresar usuario</ion-label>
  </ion-item>

  <form #formulario="ngForm" style="padding:20px;" class="form-login">
    <!-- <ion-list-header>
      <ion-label>Formulario valido: {{formulario.valid}} </ion-label>
    </ion-list-header> -->

      <!-- 
[(ngModel)]="usuario.email"
          pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$"
        [(ngModel)]="usuario.contrasena_usuario" -->
        <!-- <ion-list >
					<ion-item class="custom" shape="round">
					  <ion-label color="primary" position="floating">Name</ion-label>
					  <ion-input autocorrect="on" autofocus="on" clearInput="true" clearOnEdit="true"  color="primary" inputmode="text" placeholder="Enter your name" required="true"></ion-input>
					  <ion-icon name="mail" color="primary" slot="end"></ion-icon>
					</ion-item>
				</ion-list> -->
      <ion-input
        type="email"
        placeholder="Email"
        class="custom"
        required
        placeholder="Completar Email"
        name="email"
      ></ion-input>
      <ion-input
        type="password"
        placeholder="Contraseña"
        class="custom"
        required
      ></ion-input>

      <ion-button
        [disabled]="formulario.invalid"
        (click)="onSingIn()"
        expand="block"
        color="secondary"
        fill="outline"
        >Iniciar Sesión</ion-button
      >

      <ion-button
        expand="block"
        [routerLink]="['/registro-usuario']"
        color="secondary"
        >Registrarme</ion-button
      >

      <ion-button color="secondary" shape="round">
        <ion-icon
          slot="icon-only"
          (click)="onSingInGoogle()"
          name="logo-google"
        ></ion-icon>
      </ion-button>
      <br>
      <ion-button
      class="top-button ion-margin-top lblArriba"
      size="small"
      [routerLink]="['/recuperar-clave']"
      fill="outline"
      color="tertiary"
    >
      <ion-icon name="create-outline"></ion-icon>
      ¿Recuperar clave?
    </ion-button>
  </form>

</ion-content>
